.col-md-6 .CodeMirror { height: 90vh; }

.tab-content {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#about {
  height: 28em;
  overflow-y: scroll;
  padding: 0.5em;
}

#about h3 {
  margin-top: 0;
}

#comparison_table tbody tr td:last-child {
  font-weight: bold;
}

.examples .CodeMirror {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  border: 1px solid black;
}

.halves .CodeMirror {
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 49%;
}

.thirds .CodeMirror {
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 32%;
}
